

<ion-content class="ion-padding">
  <ion-button (click)="back()" class="backBtn" fill="clear">
    BACK</ion-button>
      <div class="nutrition-label">
        <div class="nHeader">
          <div class="footnote">* Percent Daily Values are based on a {{(goal?.goalAmount === 0) ? 2500 : goal?.goalAmount}} calorie diet.</div>
          <div class="title">Nutrition Facts</div>
        </div>
        <table>
          <tr *ngFor="let e of nutrientsArr">
            <td><strong>{{e.name}}</strong> {{e.amount}}{{e.unit}}</td>
            <td></td>
            <td class="right-align">{{(e.percentOfDailyNeeds / calorieRatio) | number:'1.2-2'}}%</td>
          </tr>
        </table>
      </div>
</ion-content>

