<ion-header>
  <div class="header">
    <div style="display:flex; flex-direction: row;">
      <h1>
        Nomster
      </h1>
      <img src="/assets/nomsterLogo.png" />
    </div>
    <button class="navBtn2" (click)="nav('login')">
      <ion-icon name="home-outline"></ion-icon>
    </button>
  </div>
</ion-header>
<ion-content>
  <div class="profileTitle ion-padding"> 
    <h3>Your Favourites</h3>
  </div>
  <!-- <div class="favorites-container">
    <ul class="favorites-list">
      <li class="favorite-item">
        <img src="/assets/test.png" alt="Recipe Image" class="recipe-image">
        <div class="recipe-details">
          <h2 class="recipe-title">Recipe Name</h2>
          <button class="delete-button">🗑</button>
        </div>
      </li>
    </ul>
  </div> -->
  <div class="favItem ion-padding" *ngFor="let fav of favs()">
    <div class="favImg">
      <img [src]="fav.pictureLink" (click)="nav(fav.id)"/> 
    </div>

    <div class="favInfo">

      <p>{{fav.name}}</p>

      <div class="macroCont">
        <div class="macro">
          <ion-icon name="flash-outline" style="color:#7DF9FF"></ion-icon>
          <p>{{fav.cals}}</p>
        </div>

        <div class="macro">
          <div class="wheat"></div>
          <p>{{fav.carbs}}</p>
        </div>

        <div class="macro">
          <div class="oil"></div>
          <p>{{fav.fats}}</p>
        </div>
        <div class="macro">
          <div class="meat"></div>
          <p>{{fav.protein}}</p>
        </div>
      </div>

      <div class="favOptions">
        <ion-button fill="clear" (click)="deleteFav(fav)"><ion-icon name="trash-outline" ></ion-icon></ion-button>
        <ion-button fill="clear"> <ion-icon name="pie-chart-outline"></ion-icon></ion-button>
      </div>
    </div>

  </div>
  <!-- <ion-item *ngFor="let fav of favs()">
      <img [src]="fav.pictureLink" (click)="recipeNav(fav.id)" /> 
      <p>{{fav.name}}</p>
    <ion-button fill="clear" (click)="deleteFav(fav)">DELETE</ion-button>
  </ion-item> -->
</ion-content>
