<ion-header>
  <div class="header">
    <div style="display:flex; flex-direction: row;">
      <h1>
        Nomster
      </h1>
      <img src="/assets/nomsterLogo.png" />
    </div>
    <button class="navBtn2" (click)="nav('login')">
      <ion-icon name="home-outline"></ion-icon>
    </button>
  </div>
</ion-header>

<ion-content>
  <div class="profileTitle ion-padding"> 
    <h3>Your Favourites</h3>
  </div>
  
  <ion-item *ngFor="let fav of favs()">
      <img [src]="fav.pictureLink" (click)="recipeNav(fav.id)" /> 
      <p>{{fav.name}}</p>
    <ion-button fill="clear" (click)="deleteFav(fav)">DELETE</ion-button>
  </ion-item>
</ion-content>
