.favItem {
    position:relative; 
    background:white; 
    min-height:150px; 
    border-radius:5px; 
    padding:10px 0; 
    margin: 10px 3%; 
}
.favItem ion-button {
    position:absolute;
    top:69%;
    left:75%; 
}
ion-button {
    margin:1% 3%; 
}
ion-content {
    --background:rgb(197, 197, 197) !important;
    padding:3%; 
}