.favItem {
    position:relative; 
    border-bottom: 1px solid #FF6700;
    border-top: 1px solid #FF6700;
    border-radius:10px; 
    margin-bottom:15px; 
    max-height:200px; 
}
.favItem ion-button {
    position:absolute;
    top:65%;
    left:75%; 
}

