@import url('https://fonts.cdnfonts.com/css/space-grotesk'); 
@import url('https://fonts.cdnfonts.com/css/margarine');
@import url('https://fonts.cdnfonts.com/css/better-ground-line');
 
 $p : 'Space Grotesk', sans-serif; 
 $p2 : 'Better Ground Line', sans-serif;
 $p3 :'Margarine', sans-serif;  



img {
    padding:2.5%;
    border-radius:15px; 
}
td {
    width: calc(50% - 4.5%); /* Set the width to 50% minus the margin gap */
    font-family:$p3; 
}
#container {
    margin:auto;
    padding:10px; 
}
h3 {
    font-family:$p; 
}

.recipeGrocery {
    margin-bottom:-30px; 
}
ion-icon {
    color:#FF6700; 
   }
ion-button {
    margin:25px auto;
    margin-right:auto;  
}
ion-button:hover {
    color:#ffa118;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }