@import url('https://fonts.cdnfonts.com/css/space-grotesk'); 
@import url('https://fonts.cdnfonts.com/css/margarine');
@import url('https://fonts.cdnfonts.com/css/better-ground-line');
 
 $p : 'Space Grotesk', sans-serif; 
 $p2 : 'Better Ground Line', sans-serif;
 $p3 :'Margarine', sans-serif;  



img {
    padding:2.5%;
    border-radius:15px; 
}
td {
    width:40%; 
    height:60px; 
    font-family:$p3;
    padding:10px 25px; 
}
td ion-icon {
    position:absolute; 
    left: 40%;
    top: 103.5%; /* Adjust if you want to vertically align the icon */
   
}
#container {
    margin:auto;
    padding:10px; 
}
h3 {
    font-family:$p; 
}