<app-header></app-header>

<ion-content *ngIf="isLoaded">

  <app-status *ngIf="showSuccessMessage" message="Grocery was added!" status="true"></app-status>


  <app-status *ngIf="showMealMessage" message="Meal has been logged!" status="true"></app-status>


  <div class="filterOps">
    <h3>{{title}}</h3>
    
  </div>
  
 <div id="container">
    <div id="topCont">
      <img [src]="image" />
    </div>
    <ion-button fill="clear" (click)="updateGoalsByMeal()">
     I Enjoyed This, Log It!
    </ion-button>
    <div id="ingCont">
      <div class="ingBox">
        <h3>Ingredients</h3>
        <tr *ngFor="let item of ingredients; let i = index">
          <ng-container *ngIf="i % 2 === 0; else oddRow">
            <td>
              <div class="recipeGrocery"> {{ item.original }} </div>
              <div class="recipeGrocery"> <ion-button fill="clear" (click)="addToGroceries(item)"><ion-icon name="add-circle-outline" ></ion-icon></ion-button></div>
            </td>
            <td *ngIf="i + 1 < ingredients.length">
              <div class="recipeGrocery"> {{ ingredients[i + 1].original }} </div>
              <div class="recipeGrocery"><ion-button fill="clear" (click)="addToGroceries(ingredients[i + 1])"><ion-icon name="add-circle-outline" ></ion-icon></ion-button></div>
            </td>
          </ng-container>
          <ng-template #oddRow>
          </ng-template>
        </tr>
      </div>
    </div>
   
    <h3>Instructions</h3>
    <div class="instruc" [innerHTML]="instructions"></div>
    <p class="sumPara" [innerHTML]="summary"></p>

  </div>


</ion-content>
