<app-header></app-header>

<ion-content *ngIf="isLoaded">

  <app-status *ngIf="showSuccessMessage" message="Grocery was added!" status="true"></app-status>


  <app-status *ngIf="showMealMessage" message="Meal has been logged!" status="true"></app-status>


  <div class="filterOps">
    <ion-button fill="clear" (click)="navHome()">BACK</ion-button>
    <h3>{{title}}</h3>
    <div class="gen-info">
      <div class="gen-info-sec">
        <ion-icon name="time-outline"></ion-icon>
        <p><b>{{timeToCook}}</b> mins</p>
      </div>
      <div class="gen-info-sec">
        <ion-icon name="restaurant-outline"></ion-icon>
        <p><b>{{serving}}</b> serves</p>
      </div>
      <div class="gen-info-sec">
        <ion-icon name="thumbs-up"></ion-icon>
        <p><b>{{likes}}</b> likes</p>
      </div>
    </div>
  </div>
  <!--ADD ALLERGENS, FINISH HIGHLIGHT STUFF
  ALSO DO THE BACK BUTTON STUFF (DOESNT KNOW IF COMING FROM FAVS OR HOME)-->
 <div id="container">
    <div id="topCont">
      <img [src]="image" />
    </div>
    
    <ion-button fill="clear" (click)="updateGoalsByMeal()">
     I Enjoyed This, Log It!
    </ion-button>

    <div class="text-container" [ngClass]="{'expanded': isExpanded}">
      <p [innerHTML]="summary"></p>
      <div class="fade-out" *ngIf="!isExpanded"></div>
    </div>
    <ion-button fill="clear" (click)="readMoreToggle()">{{ isExpanded ? 'Read Less' : 'Read More' }}</ion-button>


    <div class="title-container">
      <h3 (click)="selectedDiv = 'first'" [class.selected]="selectedDiv === 'first'">Ingredients</h3>
      <h3 (click)="selectedDiv = 'second'" [class.selected]="selectedDiv === 'second'">Method</h3>
    </div>
    <div class="underline" [style.transform]="getUnderlinePosition()"></div>

    
    <div *ngIf="selectedDiv === 'first'">
      <div id="ingCont" >
        <div class="ingBox">
          <tr *ngFor="let item of ingredients; let i = index">
            <ng-container *ngIf="i % 2 === 0; else oddRow">
              <td>
                <div class="recipeGrocery"> {{ item.original }} </div>
                <div class="recipeGrocery"> <ion-button fill="clear" (click)="addToGroceries(item)"><ion-icon name="add-circle-outline" ></ion-icon></ion-button></div>
              </td>
              <td *ngIf="i + 1 < ingredients.length">
                <div class="recipeGrocery"> {{ ingredients[i + 1].original }} </div>
                <div class="recipeGrocery"><ion-button fill="clear" (click)="addToGroceries(ingredients[i + 1])"><ion-icon name="add-circle-outline" ></ion-icon></ion-button></div>
              </td>
            </ng-container>
            <ng-template #oddRow>
            </ng-template>
          </tr>
        </div>
      </div>
    </div>
    
    <div *ngIf="selectedDiv === 'second'">
      <div class="instructions">
        <ol>
          <li *ngFor="let ins of instrucs; let i = index" (click)="selectInstruction(i)"
              [class.highlighted]="i === selectedInstruction"
              [class.faded]="i < selectedInstruction">
            <div class="instruc-sec">
              <p>{{ins.step}}</p>
              <ion-icon [name]="getIconName(i)"></ion-icon>
            </div>
          </li>
        </ol>
      </div>  
    </div>

  </div>
</ion-content>
