<div *ngIf="!isNew">
  <app-loader></app-loader>
</div>
<ion-content *ngIf="isNew">
  <div class="onboarding-container ion-padding"> 
    <h3>Welcome to Nomster</h3>
    <ion-item>
      <ion-input [(ngModel)]="newUser.name" label="Enter your name" labelPlacement="floating"></ion-input>
    </ion-item>

    <div class="radio-container">
        <ion-radio-group [(ngModel)]="selectedGenderIcon" >
          <div *ngFor="let icon of gIcons" (click)="selectIcon2(icon.value)">
            <ion-icon [name]="icon.name" slot="start" [class.selected]="selectedGenderIcon === icon.value"></ion-icon>
            <ion-radio slot="end" [value]="icon.value" hidden></ion-radio>
          </div>
        </ion-radio-group>
    </div>
    <ion-item>
      <ion-input [(ngModel)]="newUser.height" type="number" min="0" label="Enter your height (cm)" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="newUser.weight" type="number" min="0" label="Enter your current weight (kg)" labelPlacement="floating"></ion-input>
    </ion-item>

      <div class="radio-container">
          <ion-label>Weight Goal (Lose / Maintain / Gain)</ion-label>
          <ion-radio-group [(ngModel)]="selectedIcon" >
            <div *ngFor="let icon of wIcons" (click)="selectIcon(icon.value)">
              <ion-icon [name]="icon.name" slot="start" [class.selected]="selectedIcon === icon.value"></ion-icon>
              <ion-radio slot="end" [value]="icon.value" hidden></ion-radio>
            </div>
          </ion-radio-group>
      </div>

      
    <ion-item>

    </ion-item>
    <ion-item style="margin-top:-40px;">
      <ion-label>What is your Birthday?</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>

    <ion-item>
      <ion-select [(ngModel)]="newUser.activityLevel" placeholder="How often do you / will you exercise?">
        <ion-select-option *ngFor="let c of activityLevels" [value]="c.factor">{{c.level}}</ion-select-option>
      </ion-select>
    </ion-item>

    <button class="navBtn" (click)="sendUser()">CREATE</button>

    <div>{{user?.height ?? ""}} </div>
    <div>{{user?.weight ?? ""}} </div>

  </div>
  

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime [(ngModel)]="dateInput" presentation="date" id="datetime"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>