
.profileOptions {
    display:flex; 
    flex-direction:column; 
    margin-left:7.5%; 
}

.profileOptionsCont {
  display:flex;
  flex-direction: row;
  align-items:center;
  width:55%; 
  ion-icon {
    align-self:center; 
    font-size:32px !important; 
  }
}
ion-button:hover {
  color:#ffa118;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.goalItem {
  display: flex;
  justify-content: space-evenly;
}

.goalContent {
  display: flex;
  width:70%; 
  margin-right:auto; 
  h4 {
      margin-right:10px; 
  }
}
.goalActions {
  display:flex;
  * {
      padding:0;
      margin:0; 
  }
}
.profilePic {
  align-self:center;
  display:flex;
  flex-direction:column;
  align-items: center;
  ion-icon {
    font-size:128px; 
  }
}