.groItem {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.profileOptions {
    display:flex; 
    flex-direction:column; 
}
.profileOptions ion-button {
    width:fit-content; 
 
  text-align: left;
}