<app-header></app-header>
<ion-content>

  <div class="profilePic ion-padding">
    <ion-icon *ngIf="userProfileImage == '' " (click)="activateCamera()" name="camera-outline"></ion-icon>
    <img *ngIf="userProfileImage" [src]="userProfileImage" alt="User Profile" (click)="activateCamera()">
    <h3>Welcome {{user?.name}} ({{user?.age}})</h3>
  </div>
  
  <div class="profileOptions">
    <div class="profileOptionsCont" *ngFor="let o of options; let i = index;" [style.animation-delay]="i * 0.2 + 's'">
      <ion-icon [name]="o[2]"></ion-icon>
      <ion-button (click)="nav(o[1])" fill="clear">{{o[0]}}</ion-button>
    </div>
  </div>

<ion-list>
  <ion-item>
    <p>{{scannedItem.title}}</p>
    <ion-button id="meal-modal" (click)="itemMacroCalculator()">LOG ITEM!</ion-button>
  </ion-item>
</ion-list>
<ion-item>
  
  <input class="gram-input" [(ngModel)]="gramAmount" type="number" step="25" min="0" max="1000" onkeydown="return false;">
  <p style="margin:0 10px; ">gs</p>
  <ion-button (click)="gramCalculator(-1)">-</ion-button>
  <ion-button (click)="gramCalculator(1)">+</ion-button>

</ion-item>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="scanCode()">
    <ion-icon name="scan"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-modal trigger="meal-modal">
  <ng-template>
    <div class="modal-cont ion-padding"> 
      <ion-button class="backBtn" (click)="cancel()">
        BACK
      </ion-button>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{gramAmount}} gs of {{scannedItem.title}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <meal-result  [title]="scannedItem.title"
                  [cals]="scannedInsert.cals"
                  [image]="scannedItem.image"
                  [id]="scannedInsert.id"
                  [carbs]="scannedInsert.carbs"
                  [fat]="scannedInsert.fat"
                  [protein]="scannedInsert.protein">
          </meal-result>
        </ion-card-content>
      </ion-card>
      <button class="navBtn" (click)="updateGoalsByMeal()">LOG ITEM!</button>
    </div>
  </ng-template>
</ion-modal>

</ion-content>
