<ion-header>
  <div class="header">
    <div style="display:flex; flex-direction: row;">
      <h1>
        Nomster
      </h1>
      <img src="/assets/nomsterLogo.png" />
    </div>
    <ion-icon name="person"></ion-icon>
  </div>
</ion-header>
<ion-content>
<div class="profileTitle ion-padding">
  <h3>User's Profile</h3>
  <ion-button (click)="home()" fill="clear">Home</ion-button>
</div>
<div class="profileOptions">
  <ion-button fill="clear" (click)="fav()">Favourites</ion-button>
  <ion-button fill="clear"  id="open-modal">Grocery List</ion-button>
  <ion-button fill="clear">Update Profile</ion-button>
</div>

  
<ion-modal trigger="open-modal" (willDismiss)="($event)">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-button class="backBtn" (click)="cancel()" fill="clear">
        < BACK</ion-button>
        <h1> Shopping List</h1>
         <div class="groList">
          <div class="groItem" *ngFor="let g of groceries()">
            <p>{{g.name}}</p>
            <ion-button (click)="deleteGrocery(g)" fill="clear"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
          </div>
         </div>
          
    </ion-content>
  </ng-template>
</ion-modal>
</ion-content>
