.goalItem {
    display: flex;
    justify-content: space-evenly;
    flex-direction:column; 
    width:100% !important;
    border-bottom:1px solid lightgray;  
  }
  
.goalContent {
  display: flex;
  width:70%; 
  margin-right:auto; 
  h4 {
      margin-right:10px; 
  }
}
.goalActions {
  display:flex;
  * {
      padding:0;
      margin:0; 
  }
}
.addGroceryCont {
  display:flex;
  flex-direction:row; 
  width:90%;
  margin:0 auto 10px; 
  align-items: center;
}
ion-button,ion-icon {
  padding:0;
  margin:0; 
}
ion-button:hover {
  color:#ffa118;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  }
ion-icon {
 color:#FF6700; 
}
ion-content {
  --background:rgb(197, 197, 197) !important;
}
.aisle-header {
  width:100%;
  padding:10px 5px; 
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  text-align:center; 
  background:#FF6400;
  font-weight:bold; 
  display:block; 
}
.grocery-item {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  width:100%; 
  padding:5px 10px; 
  background:white; 
}