<ion-header>
  <div class="header">
    <div style="display:flex; flex-direction: row;">
      <h1>
        Nomster
      </h1>
      <img src="/assets/nomsterLogo.png" />
    </div>
    <ion-icon name="person"></ion-icon>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div class="profileTitle ion-padding"> 
    <h3>Shopping List</h3>
    <ion-button (click)="nav('login')" fill="clear">Back</ion-button>
  </div>
        <ion-card>
          <ion-card-content>
            <ion-item class="goalItem" *ngFor="let g of groceries()">
              <div class="goalContent"> 
                <p>{{g.name}}</p>
              </div>
              <div class="goalActions">
                <ion-button fill="clear" (click)="deleteGrocery(g)"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
              </div>
            </ion-item>
          </ion-card-content>
        </ion-card>           
    </ion-content>