.goalItem {
    display: flex;
    justify-content: space-evenly;
  }
  
  .goalContent {
    display: flex;
    width:70%; 
    margin-right:auto; 
    h4 {
        margin-right:10px; 
    }
  }
  .goalActions {
    display:flex;
    * {
        padding:0;
        margin:0; 
    }
  }

  ion-button:hover {
    color:#ffa118;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }