<app-header></app-header>

<ion-content>
  <div class="grocery-actions">
     <ion-button fill="clear" (click)="nav('login')">BACK</ion-button>
    <ion-button fill="clear" (click)="deleteAllGroceries()">RESET</ion-button>
  </div>

  <div class="goalItem" *ngFor="let g of groceries; let i = index">
    <div *ngIf="i === 0 || groceries[i].aisle !== groceries[i - 1].aisle" class="aisle-header" [class.expanded]="expandedAisles[g.aisle]"  [style.animation-delay]="i * 200 + 'ms'">
      <div class="aisle-content">
        <p>{{ g.aisle }}</p>
        <ion-button fill="clear" (click)="toggleAisle(g.aisle)">
          <ion-icon [name]="expandedAisles[g.aisle] ? 'chevron-up-outline' : 'chevron-down-outline'"
                    [ngStyle]="{'color': expandedAisles[g.aisle] ? 'white' : '#ff6400'}"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div [class.expanded]="expandedAisles[g.aisle]"  class="grocery-cont">
      <div class="grocery-item">
        <div class="goalContent"> 
          <p>{{g.name}}</p>
        </div>
        <div class="goalActions">
          <ion-button fill="clear" (click)="deleteGrocery(g)"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top:80px"></div>
  <div class="add-btn">
    <button id="open-modal" class="navBtn">ADD NEW</button>
  </div>

  <ion-modal trigger="open-modal" (willDismiss)="($event)">
    <ng-template>
      <div class="modal-cont ion-padding"> 
        <ion-button class="backBtn" (click)="cancel()">
          BACK
        </ion-button>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Add to the list!</ion-card-title>
            <ion-card-subtitle>Select the grocery type and then your item.</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item>
              <ion-select [(ngModel)]="newGrocery.aisle" placeholder="Select aisle">
                <ion-select-option  *ngFor="let g of aisles" [value]="g">{{g}}</ion-select-option>
              </ion-select>
            </ion-item>
          
            <ion-item>
              <ion-input [(ngModel)]="newGrocery.name" label="Grocery Name" labelPlacement="stacked"  placeholder="Enter your grocery"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <button class="navBtn" (click)="addToGroceries()">ADD ITEM</button>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>