<app-header></app-header>
<ion-content> 
  <div class="btn-options">
    <ion-button fill="clear" (click)="back()">BACK</ion-button>
    <ion-button id="goal-modal" fill="clear">ADD NEW</ion-button>
  </div>

  <!-- <ion-item class="goalItem" *ngFor="let g of goals(); let i = index" [style.animation-delay]="i * 200 + 'ms'">
    <div class="goalContent"> 
      <p>{{g.type}} : </p>
      <p><b>{{g.goalProgress.toFixed(0)}} / {{g.goalAmount}}<span>
          {{ g.type === 'Calorie Intake' ? 'kcals' : 'gs' }}</span>
        </b>
      </p>
    </div>

    <div class="goalActions" >
      <p>{{(g.goalProgress / g.goalAmount * 100).toFixed(0)}} %</p>
    </div>

    <div class="barBase">
      <div class="barProgress" [style.width]="(g.goalProgress / g.goalAmount * 100).toFixed(2) + '%'"></div>
    </div>
    <div class="reset-tracker">
      <ion-button fill="clear" (click)="openModal(g.id)">UPDATE</ion-button>
      <ion-button *ngIf="!goalTypeCheck(g.type)" (click)="deleteGoal(g)" fill="clear">DELETE {{g.id}}</ion-button>
    </div>
    <div class="streak-cont">
      <div class="streak-tracker">
        <div *ngFor="let active of getStreakArray(g.streak); let i = index" class="streak" [ngStyle]="{'background-color': active ? '#FF6400' : 'lightgray'}"></div>
      </div>
      <p>{{g.streak ?? 0}}</p>
      <img src="/assets/flame.png" /> 
    </div>
  </ion-item> -->

  <!-- <ion-item class="goalItem">
    <div class="goalContent"> 
      <p>Calorie Intake : </p>
      <p><b> 30 / 150<span>
         kcals</span>
        </b>
      </p>
    </div>

    <div class="goalActions" >
      <p>20%</p>
    </div>

    <div class="barBase">
      <div class="barProgress" [style.width]="( 20/ 100 * 100).toFixed(2) + '%'"></div>
    </div>
    <div class="reset-tracker">
      <ion-button fill="clear">EDIT</ion-button>
      <ion-button fill="clear"  (click)="openModal(1)">UPDATE</ion-button>
    </div>
    
  </ion-item> -->
  
  <div class="goal-item" *ngFor="let g of goals(); let i = index" [style.animation-delay]="i * 200 + 'ms'">
    <div class="goal-title">
      <h5>{{g.type}}{{g.type === 'Calorie Intake' ? 'kcals' : 'gs'}}</h5>
      <h4>{{(g.goalProgress / g.goalAmount * 100).toFixed(2)}}</h4>
    </div>
    <div class="goal-progress">
      <div class="bar-base">
        <div class="bar-progress" [style.width]="(g.goalProgress / g.goalAmount * 100).toFixed(2) + '%'"></div>
      </div>
    </div>
    <div class="goal-options">
      <ion-button size="small">UPDATE</ion-button>
      <h4>1000/1000 </h4>
    </div>
    <div class="goal-streak">
      <div class="streak-tracker">
        <div *ngFor="let active of getStreakArray(g.streak); let i = index" class="streak" [ngStyle]="{'background-color': active ? '#FF6400' : 'gray'}"></div>
      </div>
      <div class="streak-count">
        {{g.streak ?? 0}}<img src="/assets/flame.png" />
      </div>
    </div>

    <!-- <ion-button *ngIf="!goalTypeCheck(g.type)" (click)="deleteGoal(g)" fill="clear">DELETE {{g.id}}</ion-button> -->

  </div>


  <ion-modal trigger="goal-modal">
    <ng-template>
      <div class="modal-cont ion-padding"> 
        <ion-button class="backBtn" (click)="cancel()">
          BACK
        </ion-button>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Create a New Goal!</ion-card-title>
            <ion-card-subtitle>Select the goal type and then enter the desired goal amount.</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item>
              <ion-input [(ngModel)]="newGoal.type" aria-label="Goal Types" placeholder="Enter goal name...">
              </ion-input>
            </ion-item>
          
            <ion-item>
              <ion-input type="number" [(ngModel)]="newGoal.goalAmount" label="Goal Amount" labelPlacement="stacked"  placeholder="Enter your daily goal amount"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <button class="navBtn" (click)="initGoal()">ADD GOAL</button>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal id="my-modal">
  </ion-modal>

</ion-content>
