<app-header></app-header>
<ion-content> 
  <div class="profileTitle ion-padding">
    <h3>My Goals</h3>
  </div>
  <ion-button id="goal-modal"  fill="clear">
    Add New Goal!
  </ion-button>
 <ion-item class="goalItem" *ngFor="let g of goals()">
   <div class="goalContent"> 
      <p>{{g.type}} : </p>
      <p><b>{{g.goalAmount}}
        <span>{{ g.type === 'Calorie Intake' ? 'kcals' : 'gs' }}</span>
        </b>
      </p>
    </div>
    <div class="goalActions" >
      <ion-button (click)="openModal(g.id)" fill="clear">
        <ion-icon name="scale-outline"></ion-icon>
      </ion-button>
      <ion-button (click)=deleteGoal(g) fill="clear">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="barBase">
      <div class="barProgress" [style.width]="(g.goalProgress / g.goalAmount * 100).toFixed(2) + '%'"></div>
    </div>
  </ion-item>


  <ion-modal trigger="goal-modal">
    <ng-template>
      <ion-content class="ion-padding"> 
        <ion-button class="backBtn" (click)="cancel()" fill="clear">
          BACK
        </ion-button>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Create a New Goal!</ion-card-title>
            <ion-card-subtitle>Select the goal type and then enter the desired goal amount.</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item>
              <ion-select [(ngModel)]="newGoal.type" aria-label="Goal Types" placeholder="Select Goal Type">
                <ion-select-option *ngFor="let t of types" [value]="t">{{t}}</ion-select-option>
              </ion-select>
            </ion-item>
          
            <ion-item>
              <ion-input type="number" [(ngModel)]="newGoal.goalAmount" label="Goal Amount" labelPlacement="stacked"  placeholder="Enter your desired goal amount"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <button class="navBtn" (click)="initGoal()">ADD GOAL</button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal id="my-modal">
  </ion-modal>

</ion-content>
