<app-header></app-header>
<ion-content> 
  <ion-item class="goalItem" *ngFor="let g of goals(); let i = index" [style.animation-delay]="i * 200 + 'ms'">
    <div class="goalContent"> 
      <p>{{g.type}} : </p>
      <p><b>{{g.goalProgress.toFixed(0)}} / {{g.goalAmount}}<span>
          {{ g.type === 'Calorie Intake' ? 'kcals' : 'gs' }}</span>
        </b>
      </p>
    </div>

    <div class="goalActions" >
      <p>{{(g.goalProgress / g.goalAmount * 100).toFixed(0)}} %</p>
    </div>

    <div class="barBase">
      <div class="barProgress" [style.width]="(g.goalProgress / g.goalAmount * 100).toFixed(2) + '%'"></div>
    </div>
    <div class="reset-tracker">
      <ion-button fill="clear" (click)="openModal(g.id)">EDIT</ion-button>
      <ion-button (click)="openModal(g.id)" fill="clear">UPDATE</ion-button>
    </div>
    <div class="streak-cont">
      <div class="streak-tracker">
        <div *ngFor="let active of getStreakArray(g.streak); let i = index" class="streak" [ngStyle]="{'background-color': active ? '#FF6400' : 'lightgray'}"></div>
      </div>
      <p>{{g.streak ?? 0}}</p>
      <img src="/assets/flame.png" /> 
    </div>
  </ion-item>
<!-- 
  <ion-item class="goalItem">
    <div class="goalContent"> 
      <p>Calorie Intake : </p>
      <p><b> 30 / 150<span>
         kcals</span>
        </b>
      </p>
    </div>

    <div class="goalActions" >
      <p>20%</p>
    </div>

    <div class="barBase">
      <div class="barProgress" [style.width]="( 20/ 100 * 100).toFixed(2) + '%'"></div>
    </div>
    <div class="reset-tracker">
      <ion-button fill="clear">EDIT</ion-button>
      <ion-button fill="clear"  (click)="openModal(1)">UPDATE</ion-button>
    </div>
    
  </ion-item> -->
  
  <ion-button id="goal-modal">
    Add New Goal!
  </ion-button>

  <ion-modal trigger="goal-modal">
    <ng-template>
      <div class="modal-cont ion-padding"> 
        <ion-button class="backBtn" (click)="cancel()">
          BACK
        </ion-button>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Create a New Goal!</ion-card-title>
            <ion-card-subtitle>Select the goal type and then enter the desired goal amount.</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item>
              <ion-select [(ngModel)]="newGoal.type" aria-label="Goal Types" placeholder="Select Goal Type">
                <ion-select-option *ngFor="let t of types" [value]="t">{{t}}</ion-select-option>
              </ion-select>
            </ion-item>
          
            <ion-item>
              <ion-input type="number" [(ngModel)]="newGoal.goalAmount" label="Goal Amount" labelPlacement="stacked"  placeholder="Enter your desired goal amount"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <button class="navBtn" (click)="initGoal()">ADD GOAL</button>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal id="my-modal">
  </ion-modal>

</ion-content>
