.goalItem {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; 
    border-radius:5px;
    background:white; 
    margin:10px 3%;
    padding:2.5px 0; 
}

.goalContent {
    font-size:12px; 
    display: flex;
    width:fit-content; 
    margin-right:auto; 
    flex:1; 
    p {
        white-space: nowrap;
    }
}
.goalActions {
    justify-content: right;
    align-items: center;
    display:flex;
    flex:1;
    max-width:30%;
    * {
        padding:0;
        margin:0; 
    }

}
ion-item {
    --border-style:none; 
}
ion-button{
    margin-left:3%; 
    ion-button:hover {
        color:#ffa118;
        transform: scale(1.05);
        transition: 0.3s ease-in-out;
    }
}
.barBase {
    width:100%; 
    height:5px; 
    background-color: gray;
    border-radius:25px; 
}
.barProgress {
    height:5px; 
    background-color: #47e273;
    border-radius:25px; 
}
ion-content {
    --background:rgb(197, 197, 197) !important;
    padding:3%; 
}