<!-- HTML CODE FOR THE FAVOURITES COMPONENT-->

<div class="row"> 
  <div class="favImg">
    <img [src]="fav.pictureLink" (click)="recipeNav(fav.id)"/> 
  </div>

  <div class="favInfo">

    <p class="name">{{fav.name}}</p>

    <div class="macroCont">
      <div class="macro">
        <div class="flash"></div>
        <p>{{fav.cals}}</p>
      </div>

      <div class="macro">
        <div class="wheat"></div>
        <p>{{fav.carbs}}</p>
      </div>

      <div class="macro">
        <div class="oil"></div>
        <p>{{fav.fats}}</p>
      </div>
      <div class="macro">
        <div class="meat"></div>
        <p>{{fav.protein}}</p>
      </div>
    </div>
    <!--DOESNT INCLUDE THE NUTRIENT TABLE LINK AS THAT NEEDS TO BE DIFFERENT MODAL-->
    <div class="favOptions">
      <ion-button fill="clear" (click)="deleteFav(fav)"><ion-icon name="trash-outline" ></ion-icon></ion-button>
    </div>

  </div>
  

</div>


