@import url('https://fonts.cdnfonts.com/css/space-grotesk');
@import url('https://fonts.cdnfonts.com/css/margarine');
@import url('https://fonts.cdnfonts.com/css/better-ground-line');
$p: 'Space Grotesk', sans-serif;
$p2: 'Better Ground Line', sans-serif;

ion-content {
  --background: rgb(248, 248, 248);
}

/* RECIPE CARD STYLING */
.titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titles div {
  display: flex;
  flex-direction: row;
}

.titles h3 {
  font-weight: bold;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
}

.rTitle {
  width: 62.5%;
}

.cals {
  width:32.5%;
}

#container {
  display: flex;
  flex-direction: column;
}

.cals p {
  font-size: 28px;
  font-weight: bold;
  z-index: 2;
  color: black;
  font-family: $p;
  margin: 0px;
}

.cals i {
  font-size: 18px;
  color: black;
  font-family: $p;
}

.recipeBox {
  display: flex;
  flex-direction: column;
  width: 97.5%;
  margin: 5px auto 5px;
  padding: 2.5%;
}

.rImg {
  margin-top: 10px;
  display: inline-block;
  align-self: center;
  background: gray;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
  transition: 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px #FF6700;
    scale: 1.05;
  }
}

.rInfo span {
  font-family: $p;
  font-weight:bold; 
  font-size:large; 
}

.cpf {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -25px;
  pointer-events: none;
  z-index: 2;
}

.nutrient {
  display: inline;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  padding: 30% 0 0% 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: radial-gradient(100% 100% at 100% 0%, #ffdc30 0%, #FF6700 100%);
}

.rInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rBot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rBot h6 {
  font-family: $p;
}

#navBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#navBox p {
  font-family: $p;
}

.dietBox {
  overflow: hidden;
  cursor: pointer;
  height: 50px;
  padding:0 5px; 
}

.dietBox:hover {
  padding:5px;
  border-radius:5px;
  background: white;
  display: inline;
  overflow: visible;
  box-shadow: 0 0 5px #FF6700;
  z-index: 2;
  height: auto;
}

.saveResetCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.maybeArrow {
  position:absolute; 
  margin-top: 17.5px; 
  margin-left:-17.5px; 
  color:#FF6700; 
  font-weight:900;

}




// NUTRITION MODAL STYLING
.nutModal {
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  padding: 10px;
  font-size: 18px;
}

.nutrition-label {
  font-family: Arial, sans-serif;
  border: 2px solid #000;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
}

.nHeader {
  text-align: center;
  font-weight: bold;
}

.title {
  font-size: 20px;
}

.sub-title {
  font-size: 16px;
}

table {
  width: 100%;
}

th,
td {
  padding: 5px;
  text-align: left;
}

.right-align {
  text-align: right;
}

.footnote {
  font-size: 10px;
}

tr {
  border-bottom: 1px solid darkgray;
}

.bLine {
  height: 5px;
  width: 180%;
  background: black;
  align-self: center;
}